*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.page-container{
    display: flex;
    flex-wrap: wrap;
    
    height: 100vh;
    width: 100vw;
}

.nav-container{
    display: flex;
    flex-direction: column;
    
    gap: 30px;

    padding: 20px;

    background-color:black;
    height: 100vh;
    width: 200px;

    color: gray;

    font-size: 15px;
}

.white{
    color: white;
}

.logo img{
    width: 100%;
}

.nav-options{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-options i{
    font-size: 23px;
}

.nav-playlist{
    display: flex;
    flex-direction: column;
    gap: 20px;

    flex-grow: 1;
}

.cross{
    background-color: gray;
    color: black;
    font-size: 25px;
    padding: 10px;
    
    margin-right: 10px;
}

.bottom-nav-flex hr{
    margin-top: 20px;
    margin-bottom: 20px;
}

.user-profile img{
    width: 100%;
    max-height: 20px;
}

.user-circle{
    display: inline-block;
    margin-right: 10px;

    background-color: gray;
    padding: 1px;
    width: 25px;
    border-radius: 50px;
}

.username{
    display: inline-block;
}

.main-container{
    background-color: #141922;
    height: 100vh;
    width: calc(100vw - 200px);
}

.footer-container{
    display: flex;
    justify-content: space-between;

    background-color: #282828;
    height: 120px;
    width: 100vw;
}

.footer-left{
    
}

