*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    display: block;
    overflow-x: hidden;
}

.page-container{
    height: 100vh;
    width: 100vw;
}

.nav-container{
    display: flex;
    flex-direction: column;
    
    gap: 30px;

    padding: 20px;

    background-color:black;
    height: 100%;
    width: 200px;

    color: gray;

    font-size: 15px;
}

.white{
    color: white;
}

.gray{
    color: gray;
}

.logo img{
    width: 100%;
}

.nav-options{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-options i{
    font-size: 23px;
}

.nav-playlist{
    display: flex;
    flex-direction: column;
    gap: 20px;

    flex-grow: 1;
}

.cross{
    background-color: gray;
    color: black;
    font-size: 25px;
    padding: 10px;
    
    margin-right: 10px;
}

.bottom-nav-flex hr{
    margin-top: 20px;
    margin-bottom: 20px;
}

.user-profile img{
    width: 100%;
    max-height: 20px;
}

.user-circle{
    display: inline-block;
    margin-right: 10px;

    background-color: gray;
    padding: 1px;
    width: 25px;
    border-radius: 50px;
}

.username{
    display: inline-block;
}

.main-row{
    display: flex;
    flex-direction: row;
    height: calc(100%-100px);
}

.main-container{
    background-color: #141922;
    height: 100%;
    width: calc(100vw - 200px);

    overflow: scroll;
    overflow-x: hidden;
}


.upgrade{
    
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width:100%;
    background-color: #080b12;
    height: 120px;
}

.upgrade-button{

    border: 1px solid white;
    border-radius: 30px;
    padding: 20px;

    color: white;
    font-weight: bold;
}

.find-out{
    padding-top: 500px;
    display: flex;
    justify-content: center;
    gap: 25px;
    color: gray;
    
    padding: 20px;
    font-weight: bold;
}

.recently-played{
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;
    gap: 40px;
}

.recently-played h2{
    padding-bottom: 15px;
}

.cards-container{
    display: flex;
    gap: 20px;
    width: 100%;
}

.song-card{
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: calc(100% / 6);
    text-align: center;
}

.song-card img{
    width: 100%;
}


.Created-for{
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;
    gap: 40px;
}

.footer-container{
    display: flex;
    justify-content: space-between;

    background-color: #282828;
    height: 120px;
    width: 100%;
}

.footer-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

    width: 100%;
    max-width: 300px;

    padding: 24px 10px;
}

.album-cover {
    height: 100%;
}

.album-cover img{
    height: 100%;
}

.track-details{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.track-details span{
    color: gray;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.track-buttons i{
    color: gray;
}

.footer-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

    width: 100%;
    min-width: 200px;
    max-width: 530px;
    padding: 0 4px;
}

.footer-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    font-size: 20px;
    padding: 20px;
}

.playbutton{
    font-size: 40px;
}

.musicbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 50%;
}

.music-bar{
    flex-grow: 1;
}

.music-bar2{
    display: flex;
    align-self: center;
    width: 100px;
}

.music-total{
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #5a5a5a;
}

.music-current{
    background-color: #c1c1c1;
    width: 15%;
    height: 100%;
    border-radius: 2px;
}

.footer-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

    color: white;

    width: 100%;
    max-width: 240px;
}

.buttons-right{
    display: flex;
    justify-items: center;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    .page-container{
        width: 768px;
    }

    .find-out{
        flex-wrap: wrap;
    }

    .cards-container{
        flex-wrap: wrap;
    }

    .song-card{
        width: calc(100% / 4 - 20px / 4 * 3);
    }
}

@media screen and (max-width: 576px) {
    .page-container{
        width: 576px;
    }

    .find-out{
        flex-wrap: wrap;
    }

    .cards-container{
        flex-wrap: wrap;
    }

    .song-card{
        width: calc(100% / 2 - 20px / 4 * 3);
    }
}


