*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    overflow-x: hidden;
}

.page-container{
    display: flex;
    flex-wrap: wrap;
    
    height: 100vh;
    width: 100vw;
}

.nav-container{
    display: flex;
    flex-direction: column;
    
    gap: 30px;

    padding: 20px;

    background-color:black;
    height: 100vh;
    width: 200px;

    color: gray;

    font-size: 15px;
}

.white{
    color: white;
}

.gray{
    color: gray;
}

.logo img{
    width: 100%;
}

.nav-options{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-options i{
    font-size: 23px;
}

.nav-playlist{
    display: flex;
    flex-direction: column;
    gap: 20px;

    flex-grow: 1;
}

.cross{
    background-color: gray;
    color: black;
    font-size: 25px;
    padding: 10px;
    
    margin-right: 10px;
}

.bottom-nav-flex hr{
    margin-top: 20px;
    margin-bottom: 20px;
}

.user-profile img{
    width: 100%;
    max-height: 20px;
}

.user-circle{
    display: inline-block;
    margin-right: 10px;

    background-color: gray;
    padding: 1px;
    width: 25px;
    border-radius: 50px;
}

.username{
    display: inline-block;
}

.main-container{
    background-color: #141922;
    height: 100vh;
    width: calc(100vw - 200px);

    overflow: scroll;
    overflow-x: hidden;
}

.upgrade{
    position: relative;
    width: 100%;
    background-color: #080b12;
    height: 120px;
}

.upgrade-button{
    position: absolute;
    right: 0;

    border: 1px solid white;
    border-radius: 30px;
    padding: 20px;

    margin-top: 30px;

    color: white;
    font-weight: bold;
}

.find-out{
    display: flex;
    justify-content: center;
    gap: 25px;
    color: gray;
    
    padding: 20px;
    font-weight: bold;
}

.recently-played{
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;
    gap: 40px;
}

.recently-played h2{
    padding-bottom: 15px;
}

.cards-container{
    display: flex;
    gap: 20px;
    width: 100%;
}

.song-card{
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: calc(100% / 6);
    text-align: center;
}

.song-card img{
    width: 100%;
}


.Created-for{
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;
    gap: 40px;
}

.footer-container{
    display: flex;
    justify-content: space-between;

    background-color: #282828;
    height: 120px;
    width: 100vw;
}

.footer-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

    width: 100%;
    max-width: 300px;

    padding: 24px 10px;
}

.album-cover {
    height: 100%;
}

.album-cover img{
    height: 100%;
}

.track-details{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.track-details span{
    color: gray;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.track-buttons i{
    color: gray;
}

.footer-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.footer-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    font-size: 20px;
    padding: 20px;
}

.playbutton{
    font-size: 40px;
}

.musicbar{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.music-total{
    width: 500px;
    background-color: rgb(73, 71, 71);
    height: 5px;
    border-radius: 2px;
}

.music-current{
    width: 15%;
    background-color: white;
    height: 5px;
    border-radius: 2px;
}

.footer-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

    color: white;

    width: 100%;
    max-width: 240px;
}

.buttons-right{
    display: flex;
    justify-items: center;
    gap: 20px;
}

.music-total2{
    width: 105px;
    background-color: rgb(73, 71, 71);
    height: 5px;
    border-radius: 2px;
}

.music-current2{
    width: 15%;
    background-color: white;
    height: 5px;
    border-radius: 2px;
}

